.main-image {
    height: 400px;
  }
  
  .main-image img {
    height: 100%;
    
    width: 900px;
    object-fit: contain;
    margin: auto;
    padding: 5px;
    border: none;
  }
  
  .thumbnails {
    display: flex;
    justify-items: left;
    margin-top: 60px;
  }
  
  .thumbnails img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
    border: 2px solid #0064fa;
    border-radius: 20px;
  }


.divProduct{
    padding: 20px;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display:grid;
    justify-content: left;
    
    margin: auto;
    max-width: 1000px;
    margin-top: 40px;
}

.galery{
  margin-left: 20px;
  padding: 5px;
  height: 70%;
}

.divProduct > .infoProduct {
  height: 45vh;
  
}

.divProduct > .infoProduct >  h1{
  font-size: x-large; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #0064fa;
  margin: auto;
  top: initial;
  margin-left: 20px;
  
  
}

.divProduct > .infoProduct >  p{
  font-size: x-large; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color:#0064fa;
  margin: auto;
  top: initial;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 30%;
}

.divProduct > .infoProduct > div > ul{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  margin-top: 20px;

}

.divProduct > .infoProduct > div > p.talle{
  margin: 0px 20px;
  padding: 2px;
  text-align: center;
  color: white;
  margin-top: 20px;
  background-color: #0064fa;
  border-radius: 2px;
  
}

.divProduct > .infoProduct > div > ul > li{
  margin: 0px 20px;
  padding: 2px;
  text-align: center;
  color: white;
  margin-top: 20px;
  background-color: #0064fa;
  border-radius: 2px;
  width: 35px;
  height: 30px;
}

.divProduct > .infoProduct > .comprar{
  background-color: black;
  color: white;
  display: inline;
  padding: 10px;
  margin-left: 20px;
  margin-top: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.divProduct > .infoProduct > .comprar > img{
  max-height: 40px;
  max-width: 40px;
  display: inline;
  margin-left: 10px;

}

.divProduct > .description > h4{
  padding: 5px 0px;
  font-weight: bold;
  
}

.divProduct > .description{
  width: 95%;
  margin-left: 20px;
  margin-top: 100px;

  
}

.titleSkeleton{
  width: 800px;
}
.priceSkeleton{
  width: 500px;
  background-color: white;
}

.sizeSkeleton{
  margin: 20px;
}

@media (max-width: 768px) {


  .divProduct{
    padding: 20px;
    
  }

  .divProduct > .galery > .thumbnails{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 80%  ;
    margin: auto;
  }

  .divProduct > .galery > .thumbnails > .thumbailPhoto{
    margin: 10px auto;

  }

  .divProduct > * {
    max-width: 100%;
  }
  .divProduct > .infoProduct > div{
    max-width: 90vw;
  }

  .divProduct > .infoProduct > p.price{
    padding: 2px;
    width: 40vw;
  
  }

  .divProduct > .infoProduct > div > ul{
 
    grid-template-columns: repeat(4, 1fr);
  }

  .divProduct > .description{
    width: 95%;
    margin-left: 20px;
    margin-top: 200px;
    
    
    
  }
  



}
