footer > div > div.footer{
    width: 99vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.41);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

footer > div > div > div > ul > li{
    list-style: none;
    padding-bottom: 5px;
    margin: 5px 0;
    padding: 5px 0;
    border-radius: 10px;
}

footer > div > div > div > ul > li:hover{
    background-color: #0064fa;
    color: white;
    transition: all .3s;
}
footer > div > div > div > ul > li:not(:hover){

    transition: all .3s;
}


footer > div > div > div p, ul > li{
    cursor: pointer;

}

footer > div > div.copy{
background: rgba(255, 255, 255, 0.41);

backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding-bottom: 10px;
}
