.divJordan{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    justify-content: center; /* centra horizontalmente los elementos */
    grid-gap: 20px;
    margin: 20px 0px;
    
}

.nameSection{
    padding: 20px;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 250px;
    height: 372px;
    display: flex; /* utilizar flexbox para centrar el contenido */
    justify-content: center; /* centrar horizontalmente el contenido */
    align-items: center; /* centrar verticalmente el contenido */
    text-align: center; /* alinear el texto en el centro horizontalmente */
    vertical-align: middle; /* alinear el texto en el centro verticalmente */
    position: relative  ;
    z-index: 1;
    text-align: center;
    
}

.cardLanding{
    padding: 20px;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 250px;
    position: relative  ;
    z-index: 1;
    height: 372px;
}

.cardLanding > img{
    align-items: center;
    text-align: center;
    max-width: 200px;
    max-height: 200px;
    padding-bottom: 10px;
}
.storeLogo{
    max-width: 60px;
    max-height: 60px;
    padding-bottom: 5px;
}

.cardLanding p{
    padding-bottom: 5px;
    padding-top: 5px;
}

.cardLanding > .title{
    font-size: small;   
}

.cardLanding > .price{
    font-size: medium;
}

.cardLanding:hover{
    transform: scale(1.02);
    transition: all .3s;
}
.cardLanding:not(:hover){
    transform: scale(1);
    transition: all .3s;
}

@media only screen and (max-width: 768px) {

    .divJordan{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        justify-content: center; /* centra horizontalmente los elementos */
        grid-gap: 20px;
        margin: 20px 0px;
        
    }
    .nameSection{
        height: 15vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    .divJordan{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        justify-content: center; /* centra horizontalmente los elementos */
        grid-gap: 20px;
        margin: 20px 0px;
        
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1434px) {
    
    .divJordan{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
        justify-content: center; /* centra horizontalmente los elementos */
        grid-gap: 20px;
        margin: 20px 0px;
        
    }

}