.bannerGrid{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.bannerGrid img{
    max-height: 500px;
    max-width: 500px;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {


    .bannerGrid{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin: 20px 0px;

    }

    .bannerGrid img{
        
        max-height: 300px;
        max-width: 300px;
        border-radius: 20px;
        place-content: center;
        margin: auto;
        
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    .bannerGrid img{
        
        max-height: 200px;
        max-width: 250px;
        border-radius: 20px;
        place-content: center;
        margin: auto;
        
    }

}



@media only screen and (min-width: 1025px) and (max-width: 1239px) {
    

    .bannerGrid img{
        
        max-width: 50px;
        max-height: 50px;

        border-radius: 100px;
        place-content: center;
        margin: auto;
        
        
    }

}


@media only screen and (min-width: 1024px) and (max-width: 1434px) {
    
    .bannerGrid img{
        
        max-height: 300px;
        max-width: 400px;
        border-radius: 20px;
        place-content: center;
        margin: auto;
        
    }

}