*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.header{
    display: flex;
    justify-content: space-between;
    
    
    
}


nav{
    margin: auto 20px;
}


form > input {
    border: 4px solid #0064fa;
    border-radius: 10px;
    color: #0064fa;
    padding: 5px;
}


form button{
    margin: auto 20px;
    border-radius: 10px;
    background-color: #0064fa;
    color: white;
    padding: 10px;
    
}

@media only screen and (max-width: 768px) {


    form > input {
        border: 4px solid #0064fa;
        border-radius: 10px;
        color: #0064fa;
        max-width: 160px;
        display: block;
    }

    form > button{
        margin: auto;
        border-radius: 10px;
        background-color: #0064fa;
        color: white;
        padding: 12px;  
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form > button > svg, p{
        margin: 2px;
        display: flex;
    }

    form > button > p{
        display: contents;
    }

}
